# Copyright 2023 Salesforce, Inc. All rights reserved.
---
apiVersion: gateway.mulesoft.com/v1alpha1
kind: ApiInstance
metadata:
  name: ingress-http
spec:
  address: http://0.0.0.0:8081
  services:
    upstream:
      address: http://backend
      routes:
        - config:
            destinationPath: /anything/echo/
  policies:
    - policyRef:
        name: oauth-2-token-introspection-flex-v1-0 # This value will be overriden during 'make run' execution
        namespace: default
      # Fill the config with a policy configuration that matches the schema specified in the policy
      # definition gcl.yaml. Eg:
      config:
        introspectionService: "http://oauth-server:8080"
        introspectionPath: "/"
        authorizationValue: "Basic YWRtaW46YWRtaW4="
        expiresInAttribute: "exp"
        validatedTokenTTL: 600
        authenticationTimeout: 10000
        exposeHeaders: true
#        scopes: "read download"
        scopes: "read write"
        scopeValidationCriteria: "AND"
        maxCacheEntries: 10000
