# Copyright 2023 Salesforce, Inc. All rights reserved.
---
apiVersion: gateway.mulesoft.com/v1alpha1
kind: ApiInstance
metadata:
  name: ingress-http
spec:
  address: http://0.0.0.0:8081
  services:
    upstream:
      address: http://backend
      routes:
        - config:
            destinationPath: /anything/echo/
  policies:
    - policyRef:
        name: certs-v1-0-impl
        namespace: default
      config: {}
    - policyRef:
        name: tls
        namespace: default
      config:
        requireClientCertificate: true
        trustedCA: |
          -----BEGIN CERTIFICATE-----
          MIIGOTCCBCGgAwIBAgIUfC5LHQ0GRPcH2IWlAjyxzg633lowDQYJKoZIhvcNAQEL
          BQAwgasxCzAJBgNVBAYTAkpQMQ4wDAYDVQQIDAVLYW50bzEOMAwGA1UEBwwFVG9r
          aW8xIjAgBgNVBAoMGVBoYW50b20gVGhpZXZlcyBvZiBIZWFydHMxEzARBgNVBAsM
          CkFmaWNpb25hZG8xGDAWBgNVBAMMD1BoYW50b20gVGhpZXZlczEpMCcGCSqGSIb3
          DQEJARYad2Vic2l0ZUBwaGFudG9tdGhpZXZlcy5jb20wHhcNMjUwNzAyMTQxMjA0
          WhcNMzUwNjMwMTQxMjA0WjCBqzELMAkGA1UEBhMCSlAxDjAMBgNVBAgMBUthbnRv
          MQ4wDAYDVQQHDAVUb2tpbzEiMCAGA1UECgwZUGhhbnRvbSBUaGlldmVzIG9mIEhl
          YXJ0czETMBEGA1UECwwKQWZpY2lvbmFkbzEYMBYGA1UEAwwPUGhhbnRvbSBUaGll
          dmVzMSkwJwYJKoZIhvcNAQkBFhp3ZWJzaXRlQHBoYW50b210aGlldmVzLmNvbTCC
          AiIwDQYJKoZIhvcNAQEBBQADggIPADCCAgoCggIBAOvn94KBrt8sqVRWGQFe1+pO
          CW6muMByCZv6YdmDJKSWWQLTXFBwyljxL/3GTO0xC7JdXq2KcxDkoOEBKVMpmpH9
          JlJ4pMDyA1w8L/548I+/6+BsRO9mEaslkK9h9IkehN7zlEevrx3ypwvU+AYcmjlf
          6DKnqsPtkHZSOrj7gXlunJlvgYhIq5sEVnGnFXXdjKFeUBg0OSrEoMUMSBZ2l6uR
          EtWhM7A9Udko1I7fBqbiNF5Knu3Itu9VFh8zzKzBgnndX2BmBGReSiEA6M+oBxTE
          RQ+SlqxKEy+8YXFgwchZj8BXFSPV0EiobqVW+qXWWcVYyuMddVgN9B8GR3Gb10/B
          sjl+08SNlNIJk2AszsV1p/DbAdmnhU7U+L1f6XjGnan/vR1ESQqpjF+MoiL2ZYT6
          zK3MMjRZccXV2nHdK5eK6Ulol5ON2ASzxSvRI68fyr/1GzzQM3T1tWBnsr0aN5uE
          e/NnhvOIWU6nKyMo8/Wx1QbaCscYN/cjqdlEPo/bdWkD8u5kRYl0wC/Xsux1Z1aJ
          9zfjiOXPt1TF0qVUFESuGOE9BgXAiah1QWgXvGJldLMehR1TUw2zHS/5aXRLryna
          fhbNFRRCV6vf67L5uXn9eJuNV5/nBrdMzLDmonkNTPZD70ZXyifxTcGQ1PruuYhr
          fwPFwU2XRGGtsXRSt8TDAgMBAAGjUzBRMB0GA1UdDgQWBBTW1k3eM3VJCYBZW+QH
          wb9zbDt38jAfBgNVHSMEGDAWgBTW1k3eM3VJCYBZW+QHwb9zbDt38jAPBgNVHRMB
          Af8EBTADAQH/MA0GCSqGSIb3DQEBCwUAA4ICAQDXV0bcWqqtpSdTBLmuhQeU7gOA
          gmo+aL9XUn7DKD6FiCUGxl0VmzLnd3HnJOZP1PB6IVaG39JYKc7arhm0mXawpf2f
          O2/3Rpt4m5J7J6qVixHA7GQ9mUYV0MF3Ji1XvxhBJfCBaB0ujsTmGWak3rzTfJB1
          vRTg7vnSl4LFs2KfrJQ0PGpFSqEnhH0wpWI8bU9A3FpLiYLyuuXYezJ+byIFtCzT
          5Xf6Fq1y8cVe60BvW+qWUMlKZV3IP0E5dLbuBLjlFQGqXfLlcMw5Vq6UsF83xm1b
          IHseM2b+SC+O8YaDAouFsz7iSbPlLGhEQbu/hanzulzunN0mQCkSSV4f4V6VvDJh
          HHlTn0fBydXWyyfS9socUNW2V7OoCtgG2WwmMD0MERBCYXHTNAEjOdhAXorrkNab
          zAkwpgm4ylMNgo7NH3nqPEfnpBHQiPhGvQFGuc2adkxmgkiIjsX/+UDv9UMOg3Cq
          rIYB7U/25uhVWTzZZIUlp58w+2eYbNePzO4rfEcuv0guLbX7HfzEOcZtroJJiCJb
          q90TkHo21nRCAeLN0LZWkBzfY6JlMBa6Rw+VeeYx3pWs8Tq2ByXc6xDRCXkihaEH
          iw0Tg+PcqlXLoqY1vn3BZedy6dgnx9z3n2+P/gdVLT9S1SZioWRM0oYojQKvZtfg
          CT4487Ev9AsewbKgPA==
          -----END CERTIFICATE-----
        certificate:
          key: |
            -----BEGIN PRIVATE KEY-----
            MIIEvgIBADANBgkqhkiG9w0BAQEFAASCBKgwggSkAgEAAoIBAQDJuugqd5J36pCo
            P0c22lZmHCxfg6vK5CdB6AFZVw6ff5ohRH+ltWx/OF84um3KkvDGsocpbyHloxpf
            FLYsfsE0JIiNhzcs+2ciSZd2voeRVnEjeWhMMlh9NVb8ErPSjjmWdUPGL+uNVvGw
            KS6CgsNTtzoL+6XSGa2L7l/VjyTpSoS0lmmqLsygsjDg9TDwtdEQqS4RGXIH6MzO
            rAHZQKJYjJtNHGClTKmC4kOqMh9jD1k5gefOkarQqyGaHfwuVy13koV854MoKnoJ
            Gk3mvyIRjvRSyuaIhRhXq5a7+7WdTGBw5G9ADlncgD2wx6uudVly0ZZr9FF+/ZiB
            TdPwkQjNAgMBAAECggEAGPtgjQHJzbfquis78nsPgA21IQ75U2L1yZ+lqx6w3Oe8
            eqo09JyHFyowAKJ1vkR8NN8fBe6RUBLmzSePd+sqmf58OqqoFpX7q69ZZocp2sHN
            uQrr86O4eakFYKogQs8CKrPS9NQyY4qE27/91oPDFLb4JUvAuUgcydt3WscjVxB/
            GVia8aCVzUi/gwYnySOFv9gNJOGMQ0npYnH6UywDh+F8b3pxS698lHiMEoC8D0oA
            gR9NWv0XptMM3zsMGG6rImOl5c+tu+t23BBC5vYwMWqkEQSLULsah48kVFsuLzTQ
            MmRbW2o+xGSkg6b5M99CmyxKDBp2O7gWF3pdQARJsQKBgQDo0I/fTOfRqfIQ07nD
            AVZ43+SF87nu8TaHpCT2eJWYYSajY7huuC1/9ILwDwESI5gahku0opBUfjCET6f7
            7VwWEgZNw3HqimeNf9d0va1712RZDGZ7aEvLS818aurtKR0x2QKQhc4Ck/x7rWwr
            eiKNNQW1GGsHie0GPvGqOfy1vwKBgQDd0d3HO/usrd6iJAQ0TCEtcE0kXQEZtbqT
            gbtBN1YqxijkUygdo+sLp7J0sV9Gh1FmeKy41yQ0AaUEbSkO5/GEH08kX9Qcur4r
            AWc30BWWV5nXmGJDV4lQ//RwQS772yvLUniWsP2HJRRSFy6u7ISOl+rA41rI0Ogj
            v2Fwa3WccwKBgQCF5rZoyvWlq+XSccOseY9/c94egMBWwhsHxouPymjXvECZxpfj
            7kAVEM9iPG70PM6VqtnN6ZWzUuSapKnMBodpFjLT9O4G5FWMl5OWzCUETiyj3rLu
            lVzKby2fOmslvfjRm6uS7bI/31de1q6ZDuTibDV9I68jJdvSNM+PhUxoRwKBgAym
            3blxaGdu+1XQLBU3imTnFN9QFrH6tYuYSK/tkhKaftaXD6CxKsTdacZSH5cMPM5V
            b7STQNNejKT1/POGszXP+1mdxaFl3Vbim5qJWdHbaUDsxh4FLiXak3ybmyxuUc8l
            Aw/FRJCiwsfz3ovHnb/sVk1uKk1t7O+tCMe6uViVAoGBAKqKBE+tjU6hZ1gTcDeS
            BtEwyhDFBv/HC5oqpa6uuQz3TnfKF5dOxSTFdJcc7B5oOtjWqBvYUeWoYfy7nSvl
            UKsp/CUNoDjZZpHmVKSUtUGkUOXsjTBuPauuMGovfJH8+Y8+9VBH9aGA4AAvnr3y
            L9SvDb2sNIXPhsGSoT1WF0W7
            -----END PRIVATE KEY-----
          crt: |
            -----BEGIN CERTIFICATE-----
            MIIEszCCApugAwIBAgIUJmg41jUzLYv/fQaFWEi2gcLeY3YwDQYJKoZIhvcNAQEL
            BQAwgasxCzAJBgNVBAYTAkpQMQ4wDAYDVQQIDAVLYW50bzEOMAwGA1UEBwwFVG9r
            aW8xIjAgBgNVBAoMGVBoYW50b20gVGhpZXZlcyBvZiBIZWFydHMxEzARBgNVBAsM
            CkFmaWNpb25hZG8xGDAWBgNVBAMMD1BoYW50b20gVGhpZXZlczEpMCcGCSqGSIb3
            DQEJARYad2Vic2l0ZUBwaGFudG9tdGhpZXZlcy5jb20wHhcNMjUwNzAyMTQxMjMy
            WhcNMzUwNjMwMTQxMjMyWjA3MRIwEAYDVQQDDAlsb2NhbGhvc3QxITAfBgkqhkiG
            9w0BCQEWEnNlcnZlckBleGFtcGxlLmNvbTCCASIwDQYJKoZIhvcNAQEBBQADggEP
            ADCCAQoCggEBAMm66Cp3knfqkKg/RzbaVmYcLF+Dq8rkJ0HoAVlXDp9/miFEf6W1
            bH84Xzi6bcqS8MayhylvIeWjGl8Utix+wTQkiI2HNyz7ZyJJl3a+h5FWcSN5aEwy
            WH01VvwSs9KOOZZ1Q8Yv641W8bApLoKCw1O3Ogv7pdIZrYvuX9WPJOlKhLSWaaou
            zKCyMOD1MPC10RCpLhEZcgfozM6sAdlAoliMm00cYKVMqYLiQ6oyH2MPWTmB586R
            qtCrIZod/C5XLXeShXzngygqegkaTea/IhGO9FLK5oiFGFerlrv7tZ1MYHDkb0AO
            WdyAPbDHq651WXLRlmv0UX79mIFN0/CRCM0CAwEAAaNCMEAwHQYDVR0OBBYEFG9t
            +fMPUGpPJjsaHU6skO3g3sn+MB8GA1UdIwQYMBaAFNbWTd4zdUkJgFlb5AfBv3Ns
            O3fyMA0GCSqGSIb3DQEBCwUAA4ICAQBj+aBcECjJN9yq1JicKorEwh79N7kzXGpr
            rC8aSer6kAImLydS1uMjO8mweQVLqWbZtwU8qVkR4U3o8NIBQGUGEcNtukZcyjwj
            sAMU+pn+7AMK4y2apPqp4YrshWfDNaaXioJaCmmEY5c4t7WDN2QapXeYXENBtTvZ
            n97mHv1Uj7r8tMknhpLeyn2xl9PopvXxmLFhFBDiDdAxnmAakyrH+baG8apNJiSU
            wzLN36go1eJdwXtrwT7NUYZRYQMpVkCzGGW1ooJEsRugWmr4hX73wYr417K+/Tkw
            YgKo9YZhCvXuRdpvBNbn2K5SrKDg93uhbUyBNB6oGzsHNF2P30oGehOg/tAPA3WG
            e+PuI72fN4w/ZvtZb7b1gHc4pzMgEwrPSMV5sMytOshn6aSm3SW0ILZrWMTGEFWb
            ywdnKEeSWwYWPNfNhb/wwFBfth9BP4OwCwVrFs7jk7IbmsINXKTfwbpUhKBkqFZI
            exQTpR3xAYVob1k5vMJhgawg1mGYaJ000ImkSyAnHi3XAS8jxSV353YJj80iyuvI
            BUahORvSqfy2HFJrLJIf7m/vKMsGgMM3Zt3gwfQMxknrg04kr4bVJ4utvj+0cjwd
            2He4+UtyutNsgRs+Dg60LT+IPaBcHtajvmU+kmzvwjjhG56Xmoe6mAA5/tPQ7CDx
            Z7pJXMqQDg==
            -----END CERTIFICATE-----
        alpn:
          - http/1.1
          - h2
        maxversion: "1.3"
        ciphers:
          - TLS_ECDHE_ECDSA_WITH_AES_128_GCM_SHA256
          - TLS_CHACHA20_POLY1305_SHA256
          - TLS_ECDHE_RSA_WITH_AES_128_GCM_SHA256
          - TLS_ECDHE_RSA_WITH_CHACHA20_POLY1305_SHA256
          - TLS_ECDHE_ECDSA_WITH_AES_128_CBC_SHA
          - TLS_ECDHE_RSA_WITH_AES_128_CBC_SHA
          - TLS_RSA_WITH_AES_128_GCM_SHA256
          - TLS_RSA_WITH_AES_128_CBC_SHA
          - TLS_ECDHE_ECDSA_WITH_AES_256_GCM_SHA384
          - TLS_ECDHE_RSA_WITH_AES_256_GCM_SHA384
          - TLS_ECDHE_ECDSA_WITH_AES_256_CBC_SHA
          - TLS_ECDHE_RSA_WITH_AES_256_CBC_SHA
          - TLS_RSA_WITH_AES_256_GCM_SHA384
          - TLS_RSA_WITH_AES_256_CBC_SHA
