# Copyright 2023 Salesforce, Inc. All rights reserved.
---
apiVersion: gateway.mulesoft.com/v1alpha1
kind: ApiInstance
metadata:
  name: ingress-http
spec:
  address: http://0.0.0.0:8081
  services:
    upstream:
      address: http://backend
      routes:
        - config:
            destinationPath: /anything/echo/
  policies:
    - policyRef:
        name: simple-oauth-2-validation-grpc-v1-0-impl
        namespace: default
      config:
        # The gRPC OAuth 2.0 validation service mocked by a gripmock gRPC server.
        oauthService: h2://gripmock:4770
        authorization: whatever
        tokenExtractor: "#[attributes.queryParams.token]"
